<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MiniSearch - {{.Query}}</title>

	<link rel="stylesheet" href="/public/styles/search.css">

	<script src="/public/scripts/components.js" defer></script>
	{{ if .Calculation }}
	    <script src="/public/scripts/calculation.js" defer></script>
	{{ end }}
</head>
<body>
    <div class="container">
        <div class="head">
            <search-input value="{{.Query}}"></search-input>
        </div>
        {{if .Calculation}}
            <div class="calculation" >
                <span id="result"></span>
            </div>
        {{end}}
        <div class="results">
            {{range .Results}}
                <a href="{{.Link}}" class="result">
                    <div class="title">
                        <div class="favicon">
                            <img src="https://www.google.com/s2/favicons?domain={{.Domain}}&sz=64" />
                        </div>
                        <span>{{.Title}}</span>
                    </div>
                    <span class="description">{{.Description}}</span>
                </a>
            {{end}}
        </div>
    </div>
</body>
</html>
