<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MiniSearch - {{.Query}}</title>

	<link rel="stylesheet" href="/public/styles/search.css">

	<script src="/public/scripts/components.js" defer></script>
</head>
<body>
    <div class="container">
        <div class="head">
            <search-input value="{{.Query}}"></search-input>
        </div>
        <div class="results">
            {{range .Results}}
                <a href="{{.Link}}" class="result">
                    <span class="title">{{.Title}}</span>
                    <span class="description">{{.Description}}</span>
                </a>
            {{end}}
            <a href="https://store.steampowered.com/app/252490/Rust/" class="result">
                <span class="title">Rust on Steam</span>
                <span class="description">The only aim in Rust is to survive. Everything wants you to die - the island's wildlife, other inhabitants, the environment, and other survivors.</span>
            </a>
        </div>
    </div>
</body>
</html>
